body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #201e1e;
    margin-bottom: 20px;
    padding: 40px;
}

.navbar-headline {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

h2 {
    padding: 20px;
}

.bg-fire {
    background-color: #f08030;
}

.bg-grass {
    background-color: #78c850;
}

.bg-water {
    background-color: #6890f0;
}

.bg-electric {
    background-color: #f8d030;
}

.bg-rock {
    background-color: #b8a038;
}

.bg-psychic {
    background-color: #f85888;
}

.bg-poison {
    background-color: #a040a0;
}

.bg-normal {
    background-color: #a8a878;
}

.bg-ghost {
    background-color: #705898;
}

.bg-ground {
    background-color: #e0c068;
}

.bg-fighting {
    background-color: #c03028;
}

.bg-bug {
    background-color: #a8b820;
}

.bg-fairy {
    background-color: #dea5de;
}

.bg-ice {
    background-color: #98d8d8;
}

.bg-dragon {
    background-color: #7038f8;
}

.container-overview {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: -10;
}

.card-wrapper {
    border: 6px solid #201e1e;
    border-radius: calc(8px);
    display: grid;
    grid-template-areas:
        "image"
        "text";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
    margin: 2px;
    width: 250px;
}

.card-image {
    background-color: white;
    border: 2px solid #201e1e;
    border-radius: calc(8px);
    grid-area: image;
    height: 100%;
    justify-self: center;
    margin-top: 20px;
    overflow: hidden;
    width: calc(100% - 40px);
}

.card-text {
    grid-area: text;
    justify-self: center;
    overflow: hidden;
    padding-left: 20px;
    width: calc(100% - 40px);
}

.card-number {
    font-size: small;
    grid-area: text;
    justify-self: center;
    padding-left: 4px;
    width: calc(100% - 40px);
}

.card-centered {
    left: 50vw;
    position: fixed;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}