#pokedex {
    color: white;
    background-color: rgb(179, 172, 138);
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkBbsuOzDgIDNrUZOTEaFN0D7dnQj1F_46-w&usqp=CAU");
    background-repeat: no-repeat; */
}

.bg-fire {
    background-color: rgb(251, 108, 108);
}

.bg-grass {
    background-color: rgb(72, 208, 176);
}

.bg-water {
    background-color: rgb(134, 202, 254);
}

.bg-lightning {
    background-color: rgb(255, 216, 111);
}

.bg-stone {
    background-color: rgb(179, 172, 138);
}

.bg-psyco {
    background-color: rgb(124, 82, 140);
}

.d-none {
    display: none;
}

#pokedex image {
    width: 200px;
    padding: 8px;
}

#nav-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

#nav-img-header {
    width: 130px;
    height: 54px;
    margin-left: 36px;
}

#nav-text {
    margin-left: 1em;
    font-size: 1.6em;
}

#nav-container {
    display: flex;
    justify-content: left;

}


.overview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.overview image {
    width: 100px;
    z-index: 2;
}

.container-overview {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card-img-overlay {
   /* background: linear-gradient(294deg, #8c8c9c, transparent);*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(1.25rem - 1px);
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card-wrapper {
    border-radius: calc(8px);
    margin: 2px;
    height: 400px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image"
    "text";
}

.card-image {
    border-radius: calc(8px);
    margin-top: 20px;
    height: 100%;
    width: calc(100% - 40px);
    grid-area: image;
    overflow: hidden;
    justify-self: center;
    background-color: white;
}

.card-image {
    border-radius: calc(8px);
    margin-top: 20px;
    height: 100%;
    width: calc(100% - 40px);
    grid-area: image;
    overflow: hidden;
    justify-self: center;
    background-color: white;
}